# https://pypi.org/project/pylodstorage/
pylodstorage>=0.2.0
# https://pypi.org/project/python-dateutil/
python-dateutil
# https://pypi.org/project/py-3rdparty-mediawiki/
py-3rdparty-mediawiki>=0.6.2
# https://github.com/5j9/wikitextparser
wikitextparser>=0.47.4
# https://pypi.org/project/wikirender/
wikirender>=0.0.37
# https://github.com/somnathrakshit/geograpy3
geograpy3>=0.2.1
# https://github.com/SmartDataAnalytics/OpenResearch
ConferenceCorpus>=0.0.30
# https://github.com/mocnik-science/osm-python-tools
OSMPythonTools>=0.3.3