# https://pypi.org/project/pylodstorage/
pylodstorage>=0.0.38
# https://pypi.org/project/python-dateutil/
python-dateutil
# https://pypi.org/project/py-3rdparty-mediawiki/
py-3rdparty-mediawiki>=0.4.8
# https://github.com/5j9/wikitextparser
wikitextparser>=0.47.4
# https://pypi.org/project/wikirender/
wikirender>=0.0.22
# https://github.com/somnathrakshit/geograpy3
geograpy3>=0.1.29