# https://pypi.org/project/pylodstorage/
pylodstorage>=0.0.47
# https://pypi.org/project/python-dateutil/
python-dateutil
# https://pypi.org/project/py-3rdparty-mediawiki/
py-3rdparty-mediawiki>=0.4.8
# https://pypi.org/project/wikirender/
wikirender>=0.0.23
# https://github.com/somnathrakshit/geograpy3
geograpy3>=0.1.29